body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/bg4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(8px) brightness(80%);
  backdrop-filter: blur(8px) brightness(40%);

}

.container {
  width: 450px;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(255, 255, 255, 0.77);

}

.input-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}

.input-container input {
  flex: 1;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  font-size: 17px;
  background: transparent;
}

.search-icon {
  padding: 5px 10px;
  cursor: pointer;
}

.search-icon img {
  height: 30px;
  width: 30px;
}

.weather-details {
  text-align: center;
  margin-top: 20px;
}

.weather-image img {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

.weather-temp {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
}

.weather-city {
  color: #f2ae0a;
  font-size: 35px;
  margin-bottom: 5px;
}

.weather-country {
  color: #fff;
  font-size: 15px;
}

.weather-cord {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.weather-cord .latitude,
.weather-cord .longtitude {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 10px;
}

.lat,
.long {
  padding-top: 5px;
  color: #f2ae0a;
  font-size: 14px;
}

.data-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px 40px;
}


.wind-data,
.humidity-data {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
}

.data-container img {
  height: 50px;
  width: 50px;
}

.humidity,
.wind-speed {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 12px;
}

.data {
  font-size: 16px;
}